---
---
<footer class="flex pb-8 justify-center">
    <div class="text-sm">© 2026 Art Support Factory | Webdesign: <a href="https://balazshuszar.com" target="_blank">Balazs Huszar</a></div>    
</footer>