---
const { title } = Astro.props;
const { style } = Astro.props;
import '../styles/global.css';
import '../styles/light.min.css';
import '../styles/brands.min.css';
import '../styles/all.min.css';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Diamond from '../assets/diamond.svg'
---

<html lang="en" class="bg-neutral-900">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/art-support-factory-web/favicon.svg" />
		<link rel="icon" href="/art-support-factory-web/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="px-4">
		<Diamond class="fixed hidden xl:block top-0 right-0 transform-[translateX(50%)] pointer-events-none max-w-2xl" style="width: calc((100vw - var(--container-6xl)));" />
		<Diamond class="fixed hidden xl:block bottom-0 left-0 transform-[translateX(-50%)_rotateZ(180deg)] pointer-events-none max-w-2xl" style="width: calc((100vw - var(--container-6xl)));" />
		<main class="flex flex-col max-w-6xl w-full mx-auto">
			
			<Header />

			<slot />

			<Footer />
		</main>		
	</body>
</html>
